<section class="banner" aria-label="Banner">

    <div class="banner-card primary">

    <div class="card-content">

        <h3 class="headline-medium card-title">
        Elevate Your Coding Skills Now
        </h3>

        <p class="body-large card-text">
            Explore our collection of coding challenges to help you level up your coding skills.
        </p>

        <a href="/" class="btn btn-primary" data-ripple>
        <span class="label-large text">Start Solving</span>

        <div class="state-layer"></div>
        </a>

    </div>

    <div class="card-grid">

        <div class="card-banner" style="grid-area: b1; background-image: url(../images/code-banner-1.jpg)">
        </div>
        <div class="card-banner" style="grid-area: b2; background-image: url(../images/code-banner-2.jpg)">
        </div>

        <div class="card-banner" style="grid-area: b3; background-image: url(../images/code-banner-3.jpg)">
        </div>

        <div class="card-banner" style="grid-area: b4; background-image: url(../images/code-banner-4.jpg)">
        </div>

        <div class="card-banner" style="grid-area: b5; background-image: url(../images/code-banner-5.jpg)">
        </div>

        <div class="card-banner" style="grid-area: b6; background-image: url(../images/code-banner-6.jpg)">
        </div>

    </div>

        

</div>