<!-- views/partials/dashboard-sidebar.handlebars -->
<nav class="navigation" data-navigation data-sidebar="dashboard">
  <div class="navigation-header">
    <button class="icon-btn" aria-label="Close menu" data-ripple data-nav-toggler>
      <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>
      <div class="state-layer"></div>
    </button>
    <a href="/" class="logo">Code Hunt</a>
  </div>
  <ul class="drawer-list">
    <li class="drawer-item">
      <a href="/dashboard" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">account_circle</span>
        <span class="label-large">Profile</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/dashboard/new-problem" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">add</span>
        <span class="label-large">Create Problem</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/dashboard/problems" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">code</span>
        <span class="label-large">My Problems</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/dashboard/comments" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">comment</span>
        <span class="label-large">My Comments</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/dashboard/liked-problems" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">lightbulb</span>
        <span class="label-large">Liked Problems</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/dashboard/disliked-problems" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">lightbulb</span>
        <span class="label-large">Disliked Problems</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/dashboard/starred-problems" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">lightbulb</span>
        <span class="label-large">Starred Problems</span>
        <div class="state-layer"></div>
      </a>
    </li>
    
    <li class="drawer-item">
      <a href="/" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">home</span>
        <span class="label-large">Back to Home</span>
        <div class="state-layer"></div>
      </a>
    </li>
    {{#if logged_in}}
    <li class="drawer-item">
      <button class="drawer-link no-button" id="logout">
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">logout</span>
        <span class="label-large">Logout</span>
        <div class="state-layer"></div>
      </button>
    </li>
    {{/if}}
  </ul>
</nav>
