<nav class="navigation" data-navigation data-sidebar="default">
  <div class="navigation-header">
    <button class="icon-btn" aria-label="Close menu" data-ripple data-nav-toggler>
      <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>
      <div class="state-layer"></div>
    </button>
    <a href="/" class="logo">Code Hunt📍</a>
  </div>
  <ul class="drawer-list">
    <li class="drawer-item">
    <li class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">person</span>
        <span class="label-large">Welcome <strong>{{username}}</strong>❗</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/problems" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">code</span>
        <span class="label-large">Problems</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/discussions" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">forum</span>
        <span class="label-large">Discussions</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/leaderboard" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">leaderboard</span>
        <span class="label-large">Leaderboard</span>
        <div class="state-layer"></div>
      </a>
    </li>
    <li class="drawer-item">
      <a href="/dashboard" class="drawer-link" data-drawer-link>
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">dashboard</span>
        <span class="label-large">Dashboard</span>
        <div class="state-layer"></div>
      </a>
    </li>
    {{#if logged_in}}
    <li class="drawer-item">
      <button class="drawer-link no-button" id="logout">
        <span class="material-symbols-outlined leading-icon" aria-hidden="true">logout</span>
        <span class="label-large">Logout</span>
        <div class="state-layer"></div>
      </button>
    </li>
    {{/if}}
  </ul>
</nav>
