<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" > Menu
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#"> HTML </a>
    <a class="dropdown-item" href="#">CSS</a>
    <a class="dropdown-item" href="#"> JavaScript</a>
  </div>
</div>
  <a href="/" class="logo">
    <h1>Code Hunt📍</h1>
  </a>
  {{#ifEquals bodyClass "workspace-body"}}
  <div class="problem-nav">
    <button id="prev-problem" class="icon-btn" aria-label="Previous problem" data-ripple>
      <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>
      <div class="state-layer"></div>
    </button>
  <div class="problems-list">
      <div class="problems-list-item" id="problems-list-toggle">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
        </svg>
        <p>Problems List</p>
      </div>
    </div>
    <button id="next-problem" class="icon-btn" aria-label="Next problem" data-ripple>
      <span class="material-symbols-outlined" aria-hidden="true">arrow_forward</span>
      <div class="state-layer"></div>
    </button>
  </div>
  <button class="icon-btn theme-btn" aria-label="Switch theme" data-theme-toggler data-ripple>
    <span class="material-symbols-outlined dark-icon" aria-hidden="true">dark_mode</span>
    <span class="material-symbols-outlined light-icon" aria-hidden="true">light_mode</span>
    <div class="state-layer"></div>
  </button>
  <button id="logout" class="icon-btn" aria-label="Log out" data-ripple>
    <span class="material-symbols-outlined" aria-hidden="true">exit_to_app</span>
    <div class="state-layer"></div>
  </button>
  {{else}}
  <button class="icon-btn theme-btn" aria-label="Switch theme" data-theme-toggler data-ripple>
    <span class="material-symbols-outlined dark-icon" aria-hidden="true">dark_mode</span>
    <span class="material-symbols-outlined light-icon" aria-hidden="true">light_mode</span>
    <div class="state-layer"></div>
  </button>
  <button id="logout" class="icon-btn" aria-label="Log out" data-ripple>
    <span class="material-symbols-outlined" aria-hidden="true">exit_to_app</span>
    <div class="state-layer"></div>
  </button>
  {{/ifEquals}}
</header>
