<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/topbar.js"></script>
</head>
<body class="dashboard-body">
    {{ topbar}}
    <div class="container">
        {{> dashboard-sidebar}}
        <div id="dashboard-content" class="content">
            {{> (lookup . 'partial')}}
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>
