<div class="banner-container">
    {{> banner}}
</div>

{{#if logged_in}}
{{else}}
    <h2><strong>Please</strong></h2> <h2><a href="/login"><strong>➡️log in</strong></a></h2>
    <h2><strong>to access all features!</strong></h2>
{{/if}}

{{> list}}