/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/
:root {

  /**
   * COLOR
   */

  --scrim: #000000;

  /**
   * light colors
   */

  --light-background: #FAFDFC;
  --light-on-background: #191C1C;
  --light-surface: #F7FAF9;
  --light-on-surface: #191C1C;
  --light-surface-variant: #DAE5E3;
  --light-on-surface-variant: #3F4948;
  --light-surface-container-high: #E6E9E8; 
  --light-surface-container-highest: #E0E3E2;
  --light-surface-container: #ECEEED;
  --light-outline: #6F7978;
  --light-outline-variant: #BEC9C7;
  --light-primary: #006A67;
  --light-on-primary: #FFFFFF;
  --light-primary-container: #6FF7F2;
  --light-on-primary-container: #00201F;
  --light-secondary: #845400;
  --light-on-secondary: #FFFFFF;
  --light-secondary-container: #FFDDB5;
  --light-on-secondary-container: #2A1800;
  --light-tertiary: #A93538;
  --light-on-tertiary: #FFFFFF;
  --light-tertiary-container: #FFDAD8;
  --light-on-tertiary-container: #410006;
  --light-error: #BA1A1A;
  --light-on-error: #FFFFFF;
  --light-error-container: #FFDAD6;
  --light-on-error-container: #410002;
  --light-inverse-surface: #2D3131;
  --light-inverse-on-surface: #EFF1F0;
  --light-inverse-primary: #4EDAD5;

  /**
   * dark colors
   */

  --dark-background: #191C1C;
  --dark-on-background: #E0E3E2;
  --dark-surface: #101414;
  --dark-on-surface: #C4C7C6;
  --dark-surface-variant: #3F4948;
  --dark-on-surface-variant: #BEC9C7;
  --dark-surface-container-high: #272B2A;
  --dark-surface-container-highest: #323535;
  --dark-surface-container: #1D2020;
  --dark-outline: #889392;
  --dark-outline-variant: #3F4948;
  --dark-primary: #4EDAD5;
  --dark-on-primary: #003735;
  --dark-primary-container: #00504E;
  --dark-on-primary-container: #6FF7F2;
  --dark-secondary: #FFB958;
  --dark-on-secondary: #462B00;
  --dark-secondary-container: #643F00;
  --dark-on-secondary-container: #FFDDB5;
  --dark-tertiary: #FFB3B0;
  --dark-on-tertiary: #68000F;
  --dark-tertiary-container: #891C23;
  --dark-on-tertiary-container: #FFDAD8;
  --dark-error: #FFB4AB;
  --dark-on-error: #690005;
  --dark-error-container: #93000A;
  --dark-on-error-container: #FFDAD6;
  --dark-inverse-surface: #E0E3E2;
  --dark-inverse-on-surface: #191C1C;
  --dark-inverse-primary: #006A67;

  /**
   * TYPOGRAPHY
   */

  /* font family */
  --ff-primary: 'Work Sans', sans-serif;

  /* font size */
  --fs-base: 62.5%; 
  --fs-display-large: 5.7rem;
  --fs-display-medium: 4.5rem;
  --fs-display-small: 3.6rem;
  --fs-headline-large: 3.2rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.4rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 1.1rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-body-small: 1.2rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;

  /**
   * BORDER RADIUS
   */

  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-large-end: 0 16px 16px 0;
  --radius-extra-large: 28px;
  --radius-circle: 50%;
  --radius-full: 500px;

  /**
   * ELEVATION
   */

  --elevation-1: 0 1px 2px hsla(0, 0%, 0%, 0.3), 0 1px 3px 1px hsla(0, 0%, 0%, 0.15);
  --elevation-2: 0 1px 2px hsla(0, 0%, 0%, 0.3), 0 2px 6px 2px hsla(0, 0%, 0%, 0.15);

   /**
     * SPACING
     */
  --spacing-base: 4px;
    --spacing-05: calc(var(--spacing-base) * 0.5);
    --spacing-1: calc(var(--spacing-base) * 1);
    --spacing-2: calc(var(--spacing-base) * 2);
    --spacing-3: calc(var(--spacing-base) * 3);
    --spacing-4: calc(var(--spacing-base) * 4);
    --spacing-5: calc(var(--spacing-base) * 5);
    --spacing-6: calc(var(--spacing-base) * 6);
    --spacing-7: calc(var(--spacing-base) * 7);
    --spacing-8: calc(var(--spacing-base) * 8);
    --spacing-9: calc(var(--spacing-base) * 9);
    --spacing-10: calc(var(--spacing-base) * 10);
    --spacing-11: calc(var(--spacing-base) * 11);
    --spacing-12: calc(var(--spacing-base) * 12);
    --spacing-13: calc(var(--spacing-base) * 13);
    --spacing-14: calc(var(--spacing-base) * 14);
    --spacing-15: calc(var(--spacing-base) * 15);
    --spacing-16: calc(var(--spacing-base) * 16);
    --spacing-17: calc(var(--spacing-base) * 17);
    --spacing-18: calc(var(--spacing-base) * 18);
    --spacing-19: calc(var(--spacing-base) * 19);
    --spacing-20: calc(var(--spacing-base) * 20);

   /**
     * TRANSITION
     */
  
    --tr-duration-short: 200ms;
    --tr-duration-medium: 400ms;
    --tr-duration-long: 500ms;
    --tr-easing-linear: cubic-bezier(0, 0, 1, 1);
    --tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  


  /**
   * OTHERS
   */

  --top-app-bar-height: 64px;

}

@media(prefers-reduced-motion: no-preference) {
  :root {

    /**
     * TRANSITION
     */

    /* duration */

    --motion-duration-short-1: 100ms;
    --motion-duration-short-2: 200ms;
    --motion-duration-medium-1: 250ms;
    --motion-duration-medium-2: 400ms;
    --motion-duration-long: 500ms;

    /* easing */

    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
    --motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
    --motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
    --motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
    --motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
    --motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);

  }
}

[data-theme="light"] {

  color-scheme: light;

  --background: var(--light-background);
  --on-background: var(--light-on-background);
  --surface: var(--light-surface);
  --on-surface: var(--light-on-surface);
  --surface-variant: var(--light-surface-variant);
  --on-surface-variant: var(--light-on-surface-variant);
  --surface-container-high: var(--light-surface-container-high);
  --surface-container-highest: var(--light-surface-container-highest);
  --surface-container: var(--light-surface-container);
  --outline: var(--light-outline);
  --outline-variant: var(--light-outline-variant);
  --primary: var(--light-primary);
  --on-primary: var(--light-on-primary);
  --primary-container: var(--light-primary-container);
  --on-primary-container: var(--light-on-primary-container);
  --secondary: var(--light-secondary);
  --on-secondary: var(--light-on-secondary);
  --secondary-container: var(--light-secondary-container);
  --on-secondary-container: var (--light-on-secondary-container);
  --tertiary: var(--light-tertiary);
  --on-tertiary: var(--light-on-tertiary);
  --tertiary-container: var(--light-tertiary-container);
  --on-tertiary-container: var(--light-on-tertiary-container);
  --error: var(--light-error);
  --on-error: var(--light-on-error);
  --error-container: var(--light-error-container);
  --on-error-container: var(--light-on-error-container);
  --inverse-surface: var(--light-inverse-surface);
  --inverse-on-surface: var(--light-inverse-on-surface);
  --inverse-primary: var(--light-inverse-primary);

}

[data-theme="dark"] {

  color-scheme: dark;

  --background: var(--dark-background);
  --on-background: var(--dark-on-background);
  --surface: var(--dark-surface);
  --on-surface: var(--dark-on-surface);
  --surface-variant: var(--dark-surface-variant);
  --on-surface-variant: var(--dark-on-surface-variant);
  --surface-container-high: var(--dark-surface-container-high);
  --surface-container-highest: var(--dark-surface-container-highest);
  --surface-container: var(--dark-surface-container);
  --outline: var(--dark-outline);
  --outline-variant: var(--dark-outline-variant);
  --primary: var(--dark-primary);
  --on-primary: var(--dark-on-primary);
  --primary-container: var(--dark-primary-container);
  --on-primary-container: var(--dark-on-primary-container);
  --secondary: var(--dark-secondary);
  --on-secondary: var(--dark-on-secondary);
  --secondary-container: var(--dark-secondary-container);
  --on-secondary-container: var(--dark-on-secondary-container);
  --tertiary: var(--dark-tertiary);
  --on-tertiary: var(--dark-on-tertiary);
  --tertiary-container: var (--dark-tertiary-container);
  --on-tertiary-container: var(--dark-on-tertiary-container);
  --error: var(--dark-error);
  --on-error: var(--dark-on-error);
  --error-container: var(--dark-error-container);
  --on-error-container: var(--dark-on-error-container);
  --inverse-surface: var(--dark-inverse-surface);
  --inverse-on-surface: var(--dark-inverse-on-surface);
  --inverse-primary: var(--dark-inverse-primary);

}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
video,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
button {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}

input { width: 100%; }

button { cursor: pointer; }

html {
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: opacity var(--motion-duration-medium-2) var(--motion-easing-linear);
  opacity: 0;
}

body.workspace-body {
  background-color: #28282880;
  color: var(--on-background);
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: opacity var(--motion-duration-medium-2) var(--motion-easing-linear);
  opacity: 0;
  overflow: hidden;
}


button:disabled {
  cursor: default;
  opacity: 0.5;
}

textarea { resize: vertical; }

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/
.material-symbols-outlined {
  display: block;
  width: 1em;
  height: 1em;
  font-variation-settings: 
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.state-layer {
  border-radius: inherit;
  inset: 0;
  opacity: 0;
  transition: var (--motion-duration-short-2) var(--motion-easing-linear);
}

.hidden {
  display: none !important;
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.main {
  padding-block-start: calc(var(--top-app-bar-height) + 16px);
  flex-grow: 1;

}

/*-----------------------------------*\
#COMPONENT
\*-----------------------------------*/
.icon-btn {
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
  min-width: 48px;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
}

.icon-btn > .state-layer { inset: 4px; }

.icon-btn.small {
  min-width: 40px;
  width: 40px;
  height: 40px;
}

.icon-btn.small .material-symbols-outlined { font-size: 1.8rem; }

.icon-btn.active {
  color: var(--primary);
  --state-layer-bg: var(--primary);
}

.icon-btn.active .material-symbols-outlined { font-variation-settings: 'FILL' 1; }

/**
 * Button
 */

.btn {
  height: 40px;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 24px;
  border-radius: var(--radius-full);
  transition: box-shadow var(--motion-duration-short-2) var(--motion-easing-linear);
}

.btn:hover { box-shadow: var(--elevation-1); }

.btn:focus { box-shadow: none; }

.btn-primary {
  background-color: var(--primary);
  color: var(--on-primary);
  --state-layer-bg: var(--on-primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
  --state-layer-bg: var(--on-secondary);
}

.btn-tertiary {
  background-color: var(--tertiary);
  color: var(--on-tertiary);
  --state-layer-bg: var(--on-tertiary);
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #8b5cf6, #ec4899);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: linear-gradient(to left, #8b5cf6, #ec4899);
}

.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  background: transparent;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn-google::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 2px; /* Adjust the border thickness */
  background: linear-gradient(to bottom right, #ec4899, #f97316);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
   mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude; 
  z-index: -1;
  transition: opacity 0.3s ease;
}

.btn-google:hover::before {
  opacity: 1;
}

.btn-google:hover {
  background: linear-gradient(to bottom right, #ec4899, #f97316);
  color: white;
}

.btn-google svg {
  margin-right: 0.5rem;
}

.btn-google span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-primary {
  background-color: #3b82f6;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  width: 100%;
}

.btn-primary:hover {
  background-color: #2563eb;
}

.btn-danger {
  background-color: #ef4444;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
}

.btn-danger:hover {
  background-color: #dc2626;
}

/**
* Segment button
*/

.btn-box {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #3b82f6;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #2dd7f5;
}

.btn-segment {
  color: var(--on-surface);
  --state-layer-bg: var(--on-surface);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-inline: 12px;
  height: 40px;
  flex-grow: 1;
}

.btn-group .btn-segment:not(:last-child) { border-inline-end: 1px solid var(--outline); }

.btn-group {
  display: flex;
  border: 1px solid var(--outline);
  border-radius: var(--radius-full);
  overflow: hidden;
}

.btn-segment .material-symbols-outlined { font-size: 1.8rem; }

.btn-segment.selected {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  --state-layer-bg: var(--on-secondary-container);
}

/*-----------------------------------*\
  #TOP APP BAR
\*-----------------------------------*/

.top-app-bar {
  background-color: var(--surface);
  display: flex;
  align-items: center;
  padding-inline: 15px;
  height: var(--top-app-bar-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  transition: background-color var(--motion-duration-short-2) var(--motion-easing-linear);
}

.top-app-bar.active { background-color: var(--surface-container); }

.top-app-bar .logo { margin-inline: 4px auto; }

[data-theme="dark"] .theme-btn .dark-icon,
[data-theme="light"] .theme-btn .light-icon { display: none; }

.search-view-content .divider { margin-inline: 16px; }



/** 
*SIGN UP SYLING
*/
.signup{background-color:var(--light-secondary-container);}
.email-signup{text-underline-position: below;}
.labelfor{background-color: #2563eb;}
.form.form.login-form{
  padding-bottom:30px;
  padding-top:30px;}

/**
*LOGIN
*/
.login{background-color:var(--light-secondary-container);}
.form.form.login-form{
  padding-bottom:30px;
  padding-top:30px;
}

/*-----------------------------------*\
  #PROBLEMS TABLE
\*-----------------------------------*/
.problems-container {
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-x: auto;
  margin: 0 auto;
  position: relative;
}

#problems-table-body a {
    color: white;
}

.pagination-controls {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pagination-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-family: sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s;
    border-radius: 0.5rem;
    background: transparent;
    color: #e5e5e5;
    border: none;
    cursor: pointer;
}

.pagination-button:hover {
    background: rgba(64, 64, 64, 0.1);
}

.pagination-button:active {
    background: rgba(64, 64, 64, 0.2);
}

.pagination-button[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.pagination-numbers button {
    height: 40px;
    max-height: 40px;
    width: 40px;
    max-width: 40px;
    border-radius: 0.5rem;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0.25rem;
    transition: all 0.3s;
    cursor: pointer;
}

.pagination-numbers .btn-page {
    background: rgba(64, 64, 64, 0.1);
    color: #e5e5e5;
}

.pagination-numbers .btn-page:hover {
    background: white;
    color: black;
}

.pagination-numbers .btn-primary {
    background: white;
    color: black;
}

.problems-container {
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow-x: auto;
  margin: 0 auto;
  position: relative;
}

.problems-table {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.table-head {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
  border-bottom-width: 1px;
}

.table-row {
  display: table-row;
  vertical-align: inherit;
  text-transform: uppercase;
font-size: 0.75rem;
    line-height: 1rem;
  text-align: left;
}

.table-row th {
  font-size: 2rem;
    line-height: 1.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.problems-table-body {
  display: table-row-group;
  vertical-align: middle;
  font-size: 1.25rem;
    line-height: 1.25rem;
    text-align: left;
}

.problems-table-row {
  font-size: 1.2rem;
    line-height: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.status-cell {
   font-size: 1.8rem !important;
  font-weight: 500;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  white-space: nowrap;
   display: flex; /* Ensure the icon is displayed */
  align-items: center; /* Align the icon vertically if needed */
  justify-content: center; /* Center the icon horizontally if needed */
}

.text-success {
  color: green !important;
}

.title-cell,
.difficulty-cell {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.workspace-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.problem-description {
  width: 50%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
}

.difficulty-cell.Easy,
.difficulty.Easy {
    color: green;
}
.difficulty-cell.Medium,
.difficulty.Medium {
    color: yellow;
}
.difficulty-cell.Hard,
.difficulty.Hard {
    color: red;
}

/*-----------------------------------*\
  #WORKSPACE
\*-----------------------------------*/
.code-editor,
.test-cases {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.editor-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.code-editor {
  border-bottom: 1px solid #ccc;
}

.CodeMirror {
  height: 450px !important;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.test-case {
  display: none;
}

#test-case-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.test-case-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: gray;
}

.test-case-btn:hover {
  background-color: #555;
  color: white;
}

.test-cases h2 {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}


.problem-description > * {
  margin-bottom: 1.5rem;
}

.problem-description h1 {
  margin-bottom: 1rem;
}

.problem-description .difficulty {
  margin-bottom: 1rem;
}

.problem-description h2 {
  margin-top: 2rem; 
  margin-bottom: 1rem;
}

.problem-description .example {
  margin-bottom: 1rem; 
}

.problem-nav {
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex: 1 1 0%;
  display: flex;
}

.problems-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; 
}

.problems-list-item {
  display: flex;
  align-items: center;
  font-size: 1.5em; 
  cursor: pointer;
}

.problems-list-item svg {
  margin-right: 10px; 
}

.problems-list-item p {
  margin: 0;
}

.problems-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #1c1c1c;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.problems-sidebar.active {
  transform: translateX(0);
}

.problems-sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2c2c2c;
  border-bottom: 1px solid #444;
}

.sidebar-header h2 {
  margin: 0;
  color: #fff;
}

.sidebar-content {
  padding: 20px;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  margin: 10px 0;
}

.sidebar-content ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar-content ul li a:hover {
  text-decoration: underline;
}


/** 
*SIGN UP SYLING
*/
.signup{background-color:var(--secondary-container);}
.email-signup{text-underline-position: below;}
.labelfor{background-color: #2563eb;}
.form.form.login-form{
  padding-bottom:30px;
  padding-top:30px;
  padding-right: 50px;}
  

/**
*LOGIN
*/
.login{background-color:var(--secondary-container);}
.form.form.login-form{
  padding-bottom:30px;
  padding-top:30px;
  padding-right: 50px;
}

/**
*Nav 
*/

a.dropdown-item{
  display: block;
  position: relative;
  background-color:#ffd8a1;
  color:black;
  text-decoration: underline;
}

.btn:hover, .dropdown-item{
  display: block;
  display:flex;
 
}
